@import "tailwindcss";

@layer base {
  body {
    background-color: #fafafa;
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%) rotate(-10deg);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%) rotate(10deg);
    opacity: 0;
  }
}

.animate-like {
  animation: slideOutRight 0.4s ease-out forwards;
}

.animate-dislike {
  animation: slideOutLeft 0.4s ease-out forwards;
}
@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-subtle-bounce {
  animation: subtle-bounce 2s infinite;
}
